.counter {
   display: flex;
   align-items: center;
   border-radius: 4px;
   overflow: hidden;
   width: max-content;
   span {
      padding: 6px 8px;
      font-size: 16px;
   }
   &__count {
      background: $primary;
      color: $white;
   }
   &__action, {
      background: $natural-100;
      cursor: pointer;
      font-weight: 800;
      color: $natural-400;
      &:hover {
         background: $natural-200;
      }
   }
}