.detailContainer {
   background: $white;
   padding: 16px;
   box-shadow: $box-shadow;
   display: grid;
   grid-template-columns: 1fr 1fr;
   flex-wrap: wrap;
   gap: 24px;
   & .imageContainer > img {
      width: 100%;
   }
   & .productInfo {
      & .title {
         font-size: 25px;
         font-weight: 300;
         margin-bottom: 16px;
      }
      & .price {
         font-size: 20px;
         font-weight: 600;
         color: $primary;
         margin-bottom: 40px;
      }
      & .description {
         margin-top: 32px;
      }

   }
   @include media-query('tablet', max) {
      grid-template-columns: 1fr;
   }
}